*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.head1{
    background-color: #e9f501;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head1 h1{
    font-size: 50px;
}

.instruct{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10dvw;
    margin-bottom: 10dvw;
}

.message{
    width: 80dvw;
}
